REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=2

ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200

ASYNC_API_HOST=async_api
ASYNC_API_PORT=8000

MOVIES_INDEX_NAME=movies
GENRES_INDEX_NAME=genres
PERSON_INDEX_NAME=persons