REDIS_HOST=redis_test
REDIS_PORT=6379
REDIS_DB=2

ELASTIC_HOST=elasticsearch_test
ELASTIC_PORT=9200

ASYNC_API_HOST=async_api_test
ASYNC_API_PORT=8000
SERVICE_URL=http://async_api_test:8000

MOVIES_INDEX_NAME=movies
GENRES_INDEX_NAME=genres
PERSONS_INDEX_NAME=persons